@model List<SlickCMS.Data.Entities.Comment>

<section>
    <h2 id="comments">Comments</h2>

    @{
        foreach (var comment in Model)
        {
            <div class="row-fluid">
                <div class="span8">
                    @{
                        if (comment.Content.StartsWith("<p>"))
                        {
                            @Html.Raw(comment.Content)
                        }
                        else
                        {
                            <p>@Html.Raw(comment.Content)</p>
                        }
                    }
                </div>
                <div class="span4">
                    <p>
                        @{
                            if ((comment.Url + "") != "")
                            {
                                <strong><a href="@comment.Url">@comment.Name</a></strong><br />
                            }
                            else
                            {
                                <strong>@comment.Name</strong><br />
                            }
                        }

                        <em><time>@comment.DateCreated.ToHumanDate()</time></em>
                    </p>
                </div>
            </div>
            <hr />
        }
    }

    @{
        if (Model.Count == 0)
        {
            <div class="row-fluid">
                <div class="span8">
                    <p><em>There are no Comments at this time.</em></p>
                </div>
            </div>
            <hr />
        }
    }

@*<div class="row-fluid">
        <div class="span8">
            <p>He is here... Obi-Wan Kenobi! What makes you think so? A tremor in the Force. The last time I felt it was in the presence of my old master. Surely he must be dead by now. Don't underestimate the power of the Force. The Jedi are extinct, their fire has gone out of the universe. You, my friend, are all that's left of their religion. Yes. Governor Tarkin, we have an emergency alert in detention block A A-twenty-three. The princess! Put all sections on alert!</p>
        </div>
        <div class="span4">
            <p>
                <strong>Author Name</strong><br />
                <em><time>2019-03-01 00:23</time></em>
            </p>
        </div>
    </div>
    <hr />
    <div class="row-fluid">
        <div class="span8">
            <p>Echo Base...I've got something! Not much, but it could be a life form. This is Rouge Two. this is Rouge Two. Captain Solo, so you copy? Commander Skywalker, do you copy? This is Rouge Two. Good morning. Nice of you guys to drop by. Echo Base...this is Rouge Two. I found them. Repeat, I found them. Master Luke, sir, it's good to see you fully functional again.</p>
        </div>
        <div class="span4">
            <p>
                <strong>Author Name</strong><br />
                <em><time>2019-03-01 00:23</time></em>
            </p>
        </div>
    </div>
    <hr />
    <div class="row-fluid">
        <div class="span8">
            <p>Command station, this is ST 321. Code Clearance Blue. We're starting our approach. Deactivate the security shield. The security deflector shield will be deactivated when we have confirmation of your code transmission. Stand by... You are clear to proceed. We're starting our approach. Inform the commander that Lord Vader's shuttle has arrived. Yes, sir.</p>
        </div>
        <div class="span4">
            <p>
                <strong>Author Name</strong><br />
                <em><time>2019-03-01 00:23</time></em>
            </p>
        </div>
    </div>
    <hr />*@
</section>
