@model SlickCMS.Data.Entities.Post

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title"><span>@Model.Title</span></h1>

<div class="block">

    <section>
        <div class="row-fluid">
            <div class="span12">
                <p>
                    <ul>
                        <li>
                            @Html.DisplayNameFor(model => model.UserId):
                            @Html.DisplayFor(model => model.UserId)
                        </li>

                        <li>
                            @Html.DisplayNameFor(model => model.Title):
                            @Html.DisplayFor(model => model.Title)
                        </li>
                        <li>
                            @Html.DisplayNameFor(model => model.Url):
                            @Html.DisplayFor(model => model.Url)
                        </li>
                        <li>
                            @Html.DisplayNameFor(model => model.Summary):
                            @Html.DisplayFor(model => model.Summary)
                        </li>
                        <li>
                            @*Html.DisplayNameFor(model => model.Content)*@
                            @*Html.DisplayFor(model => model.Content)*@
                        </li>
                        <li>
                            @Html.DisplayNameFor(model => model.Search):
                            @Html.DisplayFor(model => model.Search)
                        </li>
                        <li>
                            @Html.DisplayNameFor(model => model.DateCreated):
                            @Html.DisplayFor(model => model.DateCreated)
                        </li>
                        <li>
                            @Html.DisplayNameFor(model => model.DateModified):
                            @Html.DisplayFor(model => model.DateModified)
                        </li>
                        <li>
                            @Html.DisplayNameFor(model => model.Published):
                            @Html.DisplayFor(model => model.Published)
                        </li>
                        <li>
                            @Html.DisplayNameFor(model => model.Pageable):
                            @Html.DisplayFor(model => model.Pageable)
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </section>

    <hr />

    <section>
        <div class="row-fluid">
            <div class="span12">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </section>

    <h2>Comments</h2>

    <section>
        <div class="row-fluid">
            <div class="span12">
                TODO
            </div>
        </div>
    </section>
</div>
