@model SlickCMS.Data.Entities.Post

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title"><span>@Model.Title</span></h1>

<div class="block">
    <section>
        <ol class="breadcrumbs clearfix">
            <li><a href="/">Home</a></li>
            <li><a href="/posts">Posts</a></li>
            <li class="current"><a href="/@Model.Url">@Model.Title</a></li>
        </ol>
    </section>

    <section>
        <ul>
            <li>
                @Html.DisplayNameFor(model => model.UserId):
                @Html.DisplayFor(model => model.UserId)
            </li>

            <li>
                @Html.DisplayNameFor(model => model.Title):
                @Html.DisplayFor(model => model.Title)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.Url):
                @Html.DisplayFor(model => model.Url)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.Summary):
                @Html.DisplayFor(model => model.Summary)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.Search):
                @Html.DisplayFor(model => model.Search)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.DateCreated):
                <time>@Html.DisplayFor(model => model.DateCreated)</time>
            </li>
            <li>
                @Html.DisplayNameFor(model => model.DateModified):
                <time>@Html.DisplayFor(model => model.DateModified)</time>
            </li>
            <li>
                @Html.DisplayNameFor(model => model.Published):
                @Html.DisplayFor(model => model.Published)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.Pageable):
                @Html.DisplayFor(model => model.Pageable)
            </li>
        </ul>
    </section>

    <hr />

    <article>
        @Html.Raw(Model.Content)
    </article>

    <section>
        <h2 id="comments">Comments</h2>
        <div class="row-fluid">
            <div class="span12">
                <p>TODO</p>
            </div>
        </div>
    </section>

    <section>
        <form method="post" action="/save-comment" id="comments-form">
            <fieldset>
                <legend>Add a Comment</legend>

                <p>
                    <label for="comment-name">Your Name</label><br />
                    <input type="text" name="comment-name" id="comment-name" placeholder="Leia Organa" required /><!--NOTE: use to specify required fields-->
                </p>

                <p>
                    <label for="comment-email">Your Email</label><br />
                    <input type="email" name="comment-email" id="comment-email" placeholder="your.name@domain.com" required />
                </p>

                <p>
                    <label for="comment-message">Your Comment</label><br />
                    <textarea name="comment-message" id="comment-message" placeholder="Help me Obi-Wan Kenobi, you're my only hope." required></textarea>
                </p>

                <p>
                    <input class="btn btn-primary btn-large" type="submit" value="Submit" />
                </p>
            </fieldset>
        </form>
    </section>
</div>
