
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <p>SiteName = @ViewData["SiteName"]</p>
    <p>SiteNameFromConfigSection = @ViewData["SiteNameFromConfigSection"]</p>
    <p>LogLevel = @ViewData["LogLevel"]</p>
    <p>LogLevelFromConfigSection = @ViewData["LogLevelFromConfigSection"]</p>
    <p>SectionExists = @ViewData["SectionExists"]</p>
    <p>Children = @ViewData["Children"]</p>
</body>
</html>
