@using SlickCMS.Core

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">

    @*
        NOTE: send this as a header (or include this meta tag, or see web.config) to IE devices only
        http://www.validatethis.co.uk/news/fix-bad-value-x-ua-compatible-once-and-for-all/
    *@
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

    <title>@ViewBag.MetaTitle</title>
    <meta name="description" content="Slickhouse Framework">
    <meta name="author" content="Matthew Juffs">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="icon" type="image/png" href="/Content/icons/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="/Content/icons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/Content/icons/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Content/icons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Content/icons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Content/icons/apple-touch-icon-144x144-precomposed.png">

    @*
        Open Sans (Normal 400) for paragraphs
        Open Sans (Normal 400 Italic) for italic text within paragraphs
        Open Sans (Bold 700) for bold text within paragraphs and headings
        Open Sans (Bold 700 Italic) for italic boold text within paragraphs and headings

        http://www.google.com/fonts/#UsePlace:use/Collection:Open+Sans:400italic,700italic,400,700
    *@
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700" rel="stylesheet" type="text/css">

    @Styles.Render("~/bundles/css")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="container">
        <div id="top"></div>

        @Html.Partial("_Header")

        @*
            NOTE: add the following class to an element to enable ckeditor inline editing:
            contenteditable="true"
        *@

        @*The main element represents the main content of the body of a document or application. The main content area consists of content that is directly related to or expands upon the central topic of a document or central functionality of an application.*@
        <main role="main">

            @Html.Partial("_OutdatedBrowser")

            @RenderBody()

        </main>
    </div>

    @Html.Partial("_Footer")

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.9.0.min.js"><\/script>')</script>

    @Scripts.Render("~/bundles/js")

    @Scripts.Render("~/bundles/ckeditor")

    @RenderSection("scripts", required: false)

    @Html.Partial("Tracking/_GoogleAnalytics")

</body>
</html>
